main {
  width: 960px;
  margin: 0 auto;
}

#land {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
}

.city {
  fill: steelblue;
  cursor: pointer;
}

.city .selected {
  fill: firebrick;
}

.city .selected-ring {
  fill: none;
  stroke: firebrick;
  stroke-width: 5;
  stroke-dasharray: 1 1;
}

text {
  text-anchor: middle;
  font-size: 22px;
  font-weight: bold;
  fill: firebrick;
  cursor: pointer;
}

text.stroke {
  stroke: white;
  stroke-width: 5;
}

.connection {
  fill: none;
  stroke: firebrick;
  stroke-width: 6;
  stroke-dasharray: 1 1;
}
